body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #ffcccc, #ffffff);
    overflow: hidden;
}

button {
    padding: 20px 40px;
    font-size: 24px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: darkred;
    transform: scale(1.1);
}

.contenedor {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.elemento {
    position: relative;
    color: red;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
@media (min-width: 600px) {
    .contenedor {
        width: 150px;
        height: 80px;
    }

    .elemento {
        font-size: 24px;
    }
}

@media (min-width: 900px) {
    .contenedor {
        width: 180px;
        height: 100px;
    }

    .elemento {
        font-size: 28px;
    }  }